

<menu class="menu-bar">
    <div class="menu-title">
        <span class="menu-title-content">Relaciones de colecciones</span>
    </div>
    <li id="addRule">Agregar nueva relación</li>
</menu>

<div id="grdCollectionRules"></div>

<div class="dialog-button-panel">
    <button id="closeRulesList" class="dialog-button right-set"><span class="button-icon cancel-icon"></span>Cerrar</button>
</div>