<header class="menu main-menu no-select">
    <div class="logo"></div>
    <ul>
        <li>
            <a href="@Url.Action("Main", "Main")" target="_top">Regresar a @ViewBag.ProductName</a>
        </li>
        <li class="menu-right">
            <a href="@Url.Action("LogOff", "Security")" target="_top">Salir</a>
        </li>
    </ul>
</header>