@{
    Layout = "~/Views/Shared/DDocReports.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Main/Welcome.css")" />
}

<div class="welcome-panel no-select">
    <div class="logo"></div>
    <label>Modulo de Reportes @ViewBag.ProductName</label>
</div>