.thumb {
    border: 0 solid #000000;
    height: 600px;
}

#outer {
    margin: auto;
    margin-top: 10px;
}

#fileSelector {
    margin: auto;
    width: 400px;
}

#drop_zone {
    background-color: transparent;
    border: 2px dashed white;
    height: 450px;
    margin: auto;
    width: 800px;
}

#drop_zone.activated {
    float: left;
    width: 400px;
}

#caption {
    background-color: transparent;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

#caption label {
    color: white;
    font-family: Verdana;
    font-size: 20px;
}

#out_zone {
    background-color: transparent;
    display: none;
    height: 450px;
    margin-left: 420px;
    width: 400px;
}

#out_zone.activated { display: block; }

#out_zone div {
    border: 1px solid gray;
    height: 440px;
    margin: auto;
    overflow-y: auto;
}

#list {
    font-family: Verdana;
    font-size: 12px;
}

#files {
    background-color: transparent;
    margin: auto;
    width: 400px;
}