<div class="file-type-selection">
    <div id="tifDownload" class="file-type-icon file-icon-lg" data-type="tif" tabindex="1"></div>
    <div id="pdfDownload" class="file-type-icon file-icon-lg" data-type="pdf" tabindex="2"></div>
    <div id="zipDownload" class="file-type-icon file-icon-lg" data-type="zip" tabindex="3"></div>
</div>
<div>
    <button class="dialog-button" id="cancelDocumentDownload"><span class="button-icon cancel-icon"></span>Cancelar</button>
</div>
