<div class="file-type-selection">
    <div>
        Desde página: <input id="startPage" type="text" />
        <br>
        Hasta página: <input id="endPage" type="text" />
    </div>
    <div id="tifDownload" class="file-type-icon file-icon-lg" data-type="tif"></div>
    <div id="pdfDownload" class="file-type-icon file-icon-lg" data-type="pdf"></div>
</div>
<div>
    <button class="dialog-button" id="cancelPagesDownload"><span class="button-icon cancel-icon"></span>Cancelar</button>
</div>
