span.image-button,
.grid-action {
    background: url("../../Images/ddocAdmin_graphics.png") no-repeat center scroll;
}

div#grdServers { height: 270px !important; }

div#grdWarehouses { height: 270px !important; }

span.image-button.add-icon {
    background-position: -48px -104px;
}

span.image-button.remove-icon {
    background-position: -32px -104px;
}

span.image-button.setActive-icon {
    background-position: -112px -104px;
}

#RootPath {
    margin: 0;
    width: 100%;
}

.imgServerEdit {
    background-position: -64px -104px;
}

.imgServerDelete {
    background-position: -80px -72px;
}

.imgWarehouseEdit {
    background-position: -80px -104px;
}                        
                         
.imgWarehouseDelete {    
    background-position: -80px -88px;
}