<!DOCTYPE html>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

<html>
<head>
    <title>{$productName}</title>
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/Reset.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/Layout.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/Skin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Security/Security.css" />
    <link rel="stylesheet" type="text/css" href="/Plugins/Styles/Custom.css" />
</head>
<body>
    <div class="security-title">{$message}</div>
</body>
</html>